---
import { Image } from "@astrojs/image/components";
import { socials } from "@data/general";
import { hours } from "@data/general";
import { contacts } from "@data/general";
import { Icon } from "astro-icon";

const date = new Date();
---

<section class="px-edge bg-primary">
  <footer class="py-10">
    <div
      class="mx-auto flex flex-col text-white text-center lg:text-left gap-10 items-center lg:flex-row lg:items-start max-w-screen-2xl justify-between"
    >
      <div class="max-w-sm mx-auto lg:mx-0">
        <Image
          src={import("@img/logo-white.png")}
          height={60}
          alt="the roxbury market"
          class="mx-auto lg:mx-0"
        />
        <p class="mt-2 text-lg">
          The Roxbury Market is the pulse of Roxbury! A place where friends and
          families can gather, with local food, ice cream, and goods.
        </p>
        <div class="mt-6 flex justify-center lg:justify-start space-x-2">
          {
            socials.map((social) => (
              <a
                href={social.link}
                target="_blank"
                aria-label={`social link to: ${social.name}`}
              >
                <Icon name={social.icon} size={30} color="white" />
              </a>
            ))
          }
        </div>
      </div>

      <div>
        <p class="font-roboto font-bold text-lg">Our Hours</p>
        <ul class="mt-2">
          {
            hours.map((hour) => (
              <li>
                <p>
                  {hour.day}: {hour.open}-{hour.close}
                </p>
              </li>
            ))
          }
        </ul>
      </div>

      <div>
        <p class="font-roboto font-bold text-lg">Contact Us</p>
        <ul class="mt-2">
          {
            contacts.map((contact) => (
              <li class="flex space-x-2 justify-center lg:justify-start">
                <Icon name={contact.icon} size={30} />
                <p>{contact.text}</p>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </footer>
  <div class="py-4">
    <p class="text-center text-white text-sm">
      Copyright © {date.getFullYear()} The Roxbury Market | All Right Reserved |
      Powered By <a target="_blank" href="https://www.simply-sprout.com"
        >Simply Sprout</a
      >
    </p>
  </div>
</section>
